/* We typically use one CSS file, named main.css to control all of our pages */

/* this is a class we use to hide headings in our design */
.hidden {
    display: none;
}

#container {
    width: 428px;
    margin: 20px;
    border: solid 3px #000;
    border-radius: 10px;
    background-color: #e8e5e5;
}

#main-content {
    display: grid;
    grid-template-columns: repeat(4, 85px);
    grid-column-gap: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

article {
    grid-column: 1/-1;
}

body {
    font-family: 'Oswald', arial, sans-serif;
    font-size: 20px;
    color: #131313;
    font-weight: 100;
}

p {
    line-height: 30px;
    color: #000;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-family: 'Anton', arial, sans-serif;
    font-size: 56px;
    letter-spacing: 2px;
    background-color: rgb(00,00,00);
    color: #fff;
    padding: 15px;
    box-shadow: 5px 5px 0 orangered;
    text-align: center;
    border-radius: 10px;
}

h3 {
    font-family: 'Anton', arial, sans-serif;
    font-size: 42px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    background-color: rgb(00,00,00);
    color: #fff;
    padding: 15px;
    box-shadow: 5px 5px 0 orangered;
    text-align: center;
}

img {
    width: 390px;
    height: 300px;
    border-radius: 10px;
}

h4 {
    font-family: 'Anton', arial, sans-serif;
    font-size: 42px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    background-color: rgb(00,00,00);
    color: #fff;
    padding: 15px;
    box-shadow: 5px 5px 0 orangered;
    text-align: center;
}

h4 + p::first-letter {
    background-color: #fff;
    padding: 10px 6px;
    font-size: 32px;
    color: #000;
    float: left;
    box-shadow: 3px 3px 0 black;
}

.last {
    background-color: orangered;
    color: #000;
    box-shadow: 3px 3px 0 black;
}

.line {
    grid-column: 2/12;
    border: none;
    border-top: solid 3px orangered;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 60px;
}